{{#extend 'title'}}ParsePD – Welcome{{/extend}}
{{#extend 'description'}}A curated visualization of police funding across the United States.{{/extend}}
{{#extend 'actionButton'}}<a href="/about">About This Project</a>{{/extend}}

{{#extend 'head-inject'}}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
{{/extend}}

<script>
  const allSpendingData = {{{ spendingData }}}
  const averageData = {{{ averageData }}}

  const avg = []
  for (let el in averageData) {
    avg.push(averageData[el]["Police Protection Expenditure"])
  }

  console.log(avg)

  let ctx;
</script>
<div class="columns is-multiline is-mobile">
  {{#each states}}
  <div class="column is-one-third-desktop is-half-tablet is-full-mobile" data-aos="fade-up" data-aos-delay="{{delay @index 50}}">
    <a href="/{{@key}}">
      <div class="card state {{#if blue}}is-blue{{else}}is-red{{/if}}">
        <div class="card-content">
          <p class="title">{{ name }} ({{#if blue}}D{{else}}R{{/if}})</p>

          <canvas id="chart-{{@key}}" class="chart" width="80" height="30"></canvas>
          <script>
            const spendingData{{@key}} = allSpendingData["{{@key}}"]["Total"]

            ctx = document.getElementById('chart-{{@key}}').getContext('2d');

            const police{{@key}} =[]
            for (let el in spendingData{{@key}}) {
              police{{@key}}.push(spendingData{{@key
            }}[el]["Police Protection Expenditure"])
            }

            console.log(police{{@key}})

            let chart{{@key}} = new Chart(ctx, {
              type: 'line',
              data: {
                labels: Array.from(Array(14).keys()).map(v => v + 2004),
                datasets: [{
                  data: police{{@key}},
                  label: "Police Expenditure ($) Per Capita",
                  backgroundColor: {{#if blue}} '#33f'{{else}} '#e42d40'{{/if}},
                  yAxisID: "spending"
                },
                {
                  data: avg,
                  label: "Average U.S. Police Expenditure Per Capita",
                  backgroundColor: 'rgba(255, 255, 255, .2)',
                  yAxisID: "spending"
              }]
            },
            options: {
              legend: {
                display: false
              },
              scales: {
                yAxes: [{
                  display: false,
                  id: "spending",
                }],

                  xAxes: [{
                    display: false,
                  }]
              }
            }
             })
          </script>
        </div>
      </div>
    </a>
  </div>

  {{/each}}
</div>

{{> contact}}